{% extends "base_auth.html" %}
{% load socialaccount %}

{% block title %}Login{% endblock %}
{% block subtitle %}Log in to{% endblock %}

{% block content %}
    <a href="{% provider_login_url 'google' %}" 
        class="w-full flex items-center justify-center gap-3 bg-black text-white py-3 rounded-xl font-bold transition-all duration-300 hover:bg-gray-900 hover:shadow-xl active:scale-95">
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" width="20" class="brightness-110">    
        <span class="tracking-wide">Login with Google</span>
    </a>

    <div class="relative my-8">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-200"></div>
        </div>
        <div class="relative flex justify-center text-sm">
            <span class="bg-slate-50 px-3 text-gray-500">or</span>
        </div>
    </div>

    <form method="POST" action="{% url 'account_login' %}" class="space-y-4 mb-8">
        {% csrf_token %}
        
        <div class="relative group">
            <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-gray-400 group-focus-within:text-black transition-colors">
                <i class="ph ph-envelope text-xl"></i>
            </div>

            <input type="email" name="login" id="id_login" 
                placeholder="Your Email"
                class="bg-white w-full pl-12 pr-4 py-3 rounded-xl border border-gray-200 focus:ring-1 focus:ring-gray-300 focus:border-transparent outline-none transition shadow-sm">
            {% if form.login.errors %}
                <p class="text-red-500 text-xs mt-1">{{ form.login.errors.0 }}</p>
            {% endif %}
        </div>

        <div>
            <div class="relative group">
                <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-gray-400 group-focus-within:text-black transition-colors">
                    <i class="ph ph-lock text-xl"></i>
                </div>
                <input type="password" name="password" id="id_password" 
                    placeholder="Your Password"
                    class="bg-white w-full pl-12 pr-4 py-3 rounded-xl border border-gray-200 focus:ring-1 focus:ring-gray-300 focus:border-transparent outline-none transition shadow-sm">
            </div>
        </div>

        <button type="submit" class="w-full bg-gray-100 border border-gray-200 shadow-sm text-black py-3 rounded-xl font- hover:bg-gray-200 transition-all active:scale-95">
            Log in
        </button>
    </form>

    <div class="flex justify-center mt-6">
        <a href="{% url 'account_reset_password' %}" 
            class="inline-flex items-center gap-2 text-sm text-black font-semibold hover:opacity-70 transition-opacity">
            Forgot password?
        </a>
    </div>

    <div class="flex items-center justify-center gap-2 mt-4">
        <p class="text-gray-500 text-sm">Don't have an account?</p>
        <a href="{% url 'account_signup' %}" 
        class="inline-flex items-center gap-2 text-sm text-black font-semibold hover:opacity-70 transition-opacity">
        Sign up
        </a>
    </div>

{% endblock %}